<div id="fondo">
  <!--
  <br />
  <h1 id="text">Contacto</h1>
  <br /><br />
  <div class="container">
    <p id="text">
      Envíame un mensaje y te contestaré lo más rápido que sea humanamente
      posible.
    </p>
    <br />
    <div class="row">
      <div id="text" class="col-6">C/ Centelles, núm 17, Bajo</div>
      <div id="text" class="col-6">Rellena el formulario</div>
    </div>
    <br />
    <div class="row">
      <div id="text" class="col-12">
        Nombre
        <input
          type="text"
          class="form-control"
          aria-label="Text input with segmented dropdown button"
        />
      </div>
    </div>
    <br /><br /><br />
    <div class="row">
      <div id="text" class="col-6">
        input email
        <input
          type="text"
          class="form-control"
          aria-label="Text input with segmented dropdown button"
        />
      </div>
      <div id="text" class="col-6">
        input asunto
        <input
          type="text"
          class="form-control"
          aria-label="Text input with segmented dropdown button"
        />
      </div>
    </div>
    <br /><br /><br />
    <div class="row">
      <div id="text" class="col-12">
        <label for="exampleFormControlTextarea1">Mensaje</label>
        <textarea
          class="form-control"
          id="exampleFormControlTextarea1"
          rows="3"
        ></textarea>
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div id="text" class="col-6">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheckDisabled"
            disabled
          />
          <label
            class="custom-control-label"
            for="customCheckDisabled"
            style="color: blanchedalmond"
            >Check this custom checkbox</label
          >
        </div>
      </div>
      <div id="text" class="col-6">
        <button type="submit" class="btn btn-dark">Enviar</button>
      </div>
    </div>
    <br />
  </div>
-->
<br />
  <br />
  <hr />
  <br />


  <div class="card-columns" style="margin: 3%;">
    <div class="col-9">
      <div class="card">
        <div class="card-body">
          <h5>Dirección</h5>
          <br /><br />
          <p>
            Calle esopo Mz 20 Lt 04 Col Ciudad Cuauhtemoc Ecatepec de Morelos
            Mex.
          </p>

          <h5>Teléfonos 📞</h5>
          <p>
            <br />
            55-59-35-22-71 <br />
            044-55-51-45-48-20
          </p>
        </div>
      </div>
    </div>


    <div class="col-9">
      <div class="card">
        <div class="card-body">
          <h5>Maps y Contacto</h5>
          <br />
          <div>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d764.5183832795968!2d-98.98204367084041!3d19.63752336227607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTnCsDM4JzE1LjEiTiA5OMKwNTgnNTMuNCJX!5e1!3m2!1ses-419!2smx!4v1618343213340!5m2!1ses-419!2smx"
              width="100%" height="100%" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
            <br />
            <p class="card-text">
              <a href="https://api.whatsapp.com/send?phone=525551454820">
                <img src="../../assets/images/logoWhats.png" width="50" height="50" />Envíanos un mensaje de
                WhatsApp</a>
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="col-9">
      <div class="card">
        <div class="card-body">
          <h5>Email</h5>
          <br /><br />
          <a href="campoy.lira.1994@gmail.com">rafaelcampoybautista@embobinados.com</a>
          <br />
          <br />

          <h5>Horario de atención</h5>
          <br />
          <p>
            Lun.-Vie. 09:00 - 19:00 <br />
            Sab. 09:00 - 13:00 <br />
            Dom. Cerrado <br />
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <br />


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">COTIZACIÓN</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <div class="container">
          <p id="text">
            Envíame un mensaje y te contestaré lo más rápido que sea humanamente
            posible.
          </p>
          <br />

          <div class="row">
            <div id="text" class="col-12">
              Nombre
              <input
                type="text"
                class="form-control"
                aria-label="Text input with segmented dropdown button"
              />
            </div>
          </div>

          <br />

          <div class="row">
            <div id="text" class="col-6">
              Correo
              <input
                type="text"
                class="form-control"
                aria-label="Text input with segmented dropdown button"
              />
            </div>
            <div id="text" class="col-6">
              Asunto
              <input
                type="text"
                class="form-control"
                aria-label="Text input with segmented dropdown button"
              />
            </div>
          </div>

          <br />

          <div class="row">
            <div id="text" class="col-12">
              <label for="exampleFormControlTextarea1">Mensaje</label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
              ></textarea>
            </div>
          </div>

          <br /><br />


        </div>


      </div>
      <div class="modal-footer">
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Me interesa recibir mas información</label>
        </div>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>


</div>
