<div id="contenedor">
  <hr />
  <br />
  <h4 id="subutitulo">
    <strong>Misión</strong>
  </h4>
  <p id="parrafo">
    Conseguir la total satisfacción de nuestros clientes y mantener su
    preferencia. Ser su mejor opción en los servicios que ofrecemos.
    <br />
    Mantenernos dentro de un continuo progreso profesional por medio de los
    conocimientos y las experiencias acumuladas <br />de acuerdo a nuestros
    sistemas de operación: Efectivos, Rentables y Competitivos.
  </p>

  <br />
  <br />
  <hr />
  <br />
  <h4 id="subutitulo">
    <strong>Visión</strong>
  </h4>
  <p id="parrafo">
    Incrementar constantemente el posicionamiento de nuestra empresa y ser
    tanto reconocidos como apreciados por nuestros clientes al satisfacer sus
    necesidades de acuerdo a prácticas de altos estándares de calidad y
    excelencia.
  </p>

  <br />
  <br />
  <hr />
  <br />
  <h4 id="subutitulo">
    <strong>Objetivos</strong>
  </h4>
  <p id="parrafo">
    Respetar los estándares y el apego a las especificaciones IEEE, así como a
    las desarrolladas por Embobinados Industriales Campoy, para ofrecer
    siempre la mejor calidad al menor tiempo en el precio más competitivo.
    Siempre hacer bien las cosas correctas.
  </p>
  <br />
  <strong>
    <p id="parrafo">
      Nos dedicamos a ayudar a nuestros clientes a solucionar efectivamente
      esta parte de sus retos cotidianos.
      <br />
      Les brindamos la tranquilidad que necesitan manteniendo la confiabilidad
      de sus equipos para evitar <br />
      los paros de producción no programados.
    </p>
  </strong>
</div>
