 <br />

  <hr />
  <br />



  <div id="cajon1">
    <div class="card" style="width: 60%; height: 100%; left: 1%" >
      <div align="center">
        <img width="300" height="150" alt="Campoy Logo" src="../assets/images/logo.jpg" />
      </div>
      <div class="card-body">
        <h5 id="subutitulo">Trabajos especiales de embobinado de motores</h5>
        <br />
        <p class="card-text">
          <br/>
          En DIPCSA somos una empresa ubicada en Ecatepec, especializada en la
          reparación de motores eléctricosindustriales de alta y baja tensión.
          Nuestros más de 30 años de experiencia son el resultado de las
          soluciones que ofrecemos a la industria mediante asesoría técnica y
          venta de componentes eléctricos.
          <br/>
        </p>
        <hr />
        <p>
          <br/>
          Contamos con ingenieros certificados en embobinado y reparación de
          motores eléctricosindustriales, lo cual nos permite garantizar
          excelentes controles de calidad para realizar nuestro trabajo,
          satisfaciendo todos los requerimientos del cliente dentro del área
          de construcción e ingeniería.
          <br/>
        </p>
        <hr />
        <p>
          <br/>
          El embobinado es una reparación de un motor para cualquier tipo de
          industria y particulares. Tenemos servicios diseñados para cumplir
          con tus requerimientos. Gracias a la diversidad de servicios en
          Embobinados Campoy buscamos reducir los altos costos en todos los
          servicios que ofrecemos.
          <br/>
        </p>
      </div>
    </div>
  </div>

  <div style="
        background-image: url('../assets/images/Motor.png');
        width: 100%;
        height: 100vh;
      "></div>






<div class="container">
  <div class="row">
    <div id="text" class="col-12" style="
    background-image: url('../assets/images/Motor.png');
    align-items: center;
    float: left;
  ">
      <div class="card bg-transparent" >
        <div align="center">
          <img width="300" height="150" alt="Campoy Logo" src="../assets/images/logo.jpg" />
        </div>
        <div class="card-body">
          <h5 id="subutitulo">Trabajos especiales de embobinado de motores</h5>
          <br />
          <p class="card-text" style=" color: rgb(0, 0, 0);
          text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
          font-weight: 500;">
            <br/>
            En EMBOBINADOS INDUSTRIALES CAMPOY somos una empresa ubicada en Ecatepec, especializada en la
            reparación de motores eléctricosindustriales de alta y baja tenssión.
            Nuestros más de 30 años de experiencia son el resultado de las
            soluciones que ofrecemos a la industria mediante asesoría técnica y
            venta de componentes eléctricos.
            <br/>
          </p>
          <hr />
          <p style=" color: rgb(0, 0, 0);
          text-shadow: rgb(255, 255, 255) 0.2em 0em 0.2em;
          font-weight: 500;">
            <br/>
            Contamos con ingenieros certificados en embobinado y reparación de
            motores eléctricosindustriales, lo cual nos permite garantizar
            excelentes controles de calidad para realizar nuestro trabajo,
            satisfaciendo todos los requerimientos del cliente dentro del área
            de construcción e ingeniería.
            <br/>
          </p>
          <hr />
          <p style=" color: rgb(0, 0, 0);
          text-shadow: rgb(255, 255, 255) 0.2em 0em 0.2em;
          font-weight: 500;"
          >
            <br/>
            El embobinado es una reparación de un motor para cualquier tipo de
            industria y particulares. Tenemos servicios diseñados para cumplir
            con tus requerimientos. Gracias a la diversidad de servicios en
            Embobinados Campoy buscamos reducir los altos costos en todos los
            servicios que ofrecemos.
            <br/>
          </p>
        </div>
      </div>
    </div>

  </div>












  <div id="contenedor">
    <hr />
    <br />
    <h4 id="subutitulo">
      <strong>Misión</strong>
    </h4>
    <p id="parrafo">
      Conseguir la total satisfacción de nuestros clientes y mantener su
      preferencia. Ser su mejor opción en los servicios que ofrecemos.
      <br />
      Mantenernos dentro de un continuo progreso profesional por medio de los
      conocimientos y las experiencias acumuladas <br />de acuerdo a nuestros
      sistemas de operación: Efectivos, Rentables y Competitivos.
    </p>

    <br />
    <br />
    <hr />
    <br />
    <h4 id="subutitulo">
      <strong>Visión</strong>
    </h4>
    <p id="parrafo">
      Incrementar constantemente el posicionamiento de nuestra empresa y ser
      tanto reconocidos como apreciados por nuestros clientes al satisfacer
      sus necesidades de acuerdo a prácticas de altos estándares de calidad y
      excelencia.
    </p>

    <br />
    <br />
    <hr />
    <br />
    <h4 id="subutitulo">
      <strong>Objetivos</strong>
    </h4>
    <p id="parrafo">
      Respetar los estándares y el apego a las especificaciones IEEE,
      así como a las desarrolladas por Embobinados Industriales Campoy, para ofrecer siempre la mejor
      calidad al menor tiempo en el precio más competitivo. Siempre hacer bien
      las cosas correctas.
    </p>
    <br />
    <strong>
      <p id="parrafo">
        Nos dedicamos a ayudar a nuestros clientes a solucionar efectivamente
        esta parte de sus retos cotidianos.
        <br />
        Les brindamos la tranquilidad que necesitan manteniendo la
        confiabilidad de sus equipos para evitar <br />
        los paros de producción no programados.
      </p>
    </strong>
  </div>
