<html>
<header>
  <div class="toolbar" role="banner">
    <img width="100" height="80" alt="Campoy Logo" src="../assets/images/image2.png" />

    <h3>Embobinados Industriales Campoy</h3>

    <div class="spacer"></div>
    <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular"
      title="Twitter">
      <svg id="twitter-logo" height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 400 400">

        <path
          d="M153.62,301.59c94.34,0,145.94-78.16,145.94-145.94,0-2.22,0-4.43-.15-6.63A104.36,104.36,0,0,0,325,122.47a102.38,102.38,0,0,1-29.46,8.07,51.47,51.47,0,0,0,22.55-28.37,102.79,102.79,0,0,1-32.57,12.45,51.34,51.34,0,0,0-87.41,46.78A145.62,145.62,0,0,1,92.4,107.81a51.33,51.33,0,0,0,15.88,68.47A50.91,50.91,0,0,1,85,169.86c0,.21,0,.43,0,.65a51.31,51.31,0,0,0,41.15,50.28,51.21,51.21,0,0,1-23.16.88,51.35,51.35,0,0,0,47.92,35.62,102.92,102.92,0,0,1-63.7,22A104.41,104.41,0,0,1,75,278.55a145.21,145.21,0,0,0,78.62,23"
          fill="#fff" />
      </svg>
    </a>
    <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular"
      title="YouTube">
      <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24" fill="#fff">
        <path d="M0 0h24v24H0V0z" fill="none" />
        <path
          d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z" />
      </svg>
    </a>
  </div>

  <br />
  <br />
  <br />
  <br />

  <div id="contenedor">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img id="imgInit" class="d-block w-100" src="../assets/images/bobinadomotor-1.jpg" alt="First slide" />
        </div>
        <div class="carousel-item">
          <img id="imgInit" class="d-block w-100" src="../assets/images/Motor2.jpg" alt="Second slide" />
        </div>
        <div class="carousel-item">
          <img id="imgInit" class="d-block w-100"
            src="../assets/images/full-armadura_cd_bobinas_preformadas_embobinados_vaca.jpg" alt="Third slide" />
        </div>
      </div>

      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div id="menuLeft">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="true" aria-controls="collapseThree">
              Servicios:
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div  class="card-body">
            <li style="text-align: left;" type="disc">Embobinado, venta y reparación de motores <br><br></li>
            <li style="text-align: left;" type="disc">Servicio mecánico a motores <br><br></li>
            <li style="text-align: left;" type="disc">Generadores de corriente alterna <br><br></li>
            <li style="text-align: left;" type="disc">Velocidad variable <br><br></li>
            <li style="text-align: left;" type="disc">Corriente alterna <br><br></li>
            <li style="text-align: left;" type="disc">Alta tensión <br><br></li>
            <li style="text-align: left;" type="disc">Baja tensión <br><br></li>
            <li style="text-align: left;" type="disc">Reparaciones electromecánicas <br><br></li>
            <li style="text-align: left;" type="disc">Venta de refacciones Siemens <br><br></li>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Embobinado:
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <li style="text-align: left;" type="disc">Preventivo <br><br></li>
            <li style="text-align: left;" type="disc">Correctivo De Máquinas Eléctricas <br><br></li>
            <li style="text-align: left;" type="disc">Transformadores <br><br></li>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="true" aria-controls="collapseTwo">
              Marcas De Trabajo:
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body"> ,
            <li style="text-align: left;" type="disc">Simens <br><br></li>
            <li style="text-align: left;" type="disc">SKF <br><br></li>
            <li style="text-align: left;" type="disc">Weg <br><br></li>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="true" aria-controls="collapseFour">
              Medios de pago:
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <li style="text-align: left;" type="disc">Transferencia electrónica <br><br></li>
            <li style="text-align: left;" type="disc">Depósito <br><br></li>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
              aria-expanded="true" aria-controls="collapseFive">
              Clientes
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
          <li style="text-align: left;" type="disc">Grupo gerdau <br><br></li>
          <li style="text-align: left;" type="disc">Aceros corsa <br><br></li>
          <li style="text-align: left;" type="disc">Aceros tultitlan <br><br></li>
        </div>
        </div>
      </div>

    </div>
  </div>
</header>

<body>
  <br />

  <hr />
  <br />

  <div id="cajon1">
    <div class="card" style="width: 50%; height: 100%; left: 1%">
      <div align="center">
        <img width="300" height="150" alt="Campoy Logo" src="../assets/images/logo.jpg" />
      </div>
      <div class="card-body">
        <h5 id="subutitulo">Trabajos especiales de embobinado de motores</h5>
        <br />
        <p class="card-text">
          En DIPCSA somos una empresa ubicada en Ecatepec, especializada en la
          reparación de motores eléctricosindustriales de alta y baja tensión.
          Nuestros más de 30 años de experiencia son el resultado de las
          soluciones que ofrecemos a la industria mediante asesoría técnica y
          venta de componentes eléctricos.
        </p>
        <hr />
        <p>
          Contamos con ingenieros certificados en embobinado y reparación de
          motores eléctricosindustriales, lo cual nos permite garantizar
          excelentes controles de calidad para realizar nuestro trabajo,
          satisfaciendo todos los requerimientos del cliente dentro del área
          de construcción e ingeniería.
        </p>
        <hr />
        <p>
          El embobinado es una reparación de un motor para cualquier tipo de
          industria y particulares. Tenemos servicios diseñados para cumplir
          con tus requerimientos. Gracias a la diversidad de servicios en
          Embobinados Campoy buscamos reducir los altos costos en todos los
          servicios que ofrecemos.
        </p>
      </div>
    </div>
  </div>

  <div style="
        background-image: url('../assets/images/Motor.png');
        width: 100%;
        height: 100vh;
      "></div>

  <div id="contenedor">
    <hr />
    <br />
    <h4 id="subutitulo">
      <strong>Misión</strong>
    </h4>
    <p id="parrafo">
      Conseguir la total satisfacción de nuestros clientes y mantener su
      preferencia. Ser su mejor opción en los servicios que ofrecemos.
      <br />
      Mantenernos dentro de un continuo progreso profesional por medio de los
      conocimientos y las experiencias acumuladas <br />de acuerdo a nuestros
      sistemas de operación: Efectivos, Rentables y Competitivos.
    </p>

    <br />
    <br />
    <hr />
    <br />
    <h4 id="subutitulo">
      <strong>Visión</strong>
    </h4>
    <p id="parrafo">
      Incrementar constantemente el posicionamiento de nuestra empresa y ser
      tanto reconocidos como apreciados por nuestros clientes al satisfacer
      sus necesidades de acuerdo a prácticas de altos estándares de calidad y
      excelencia.
    </p>

    <br />
    <br />
    <hr />
    <br />
    <h4 id="subutitulo">
      <strong>Objetivos</strong>
    </h4>
    <p id="parrafo">
      Respetar los estándares y el apego a las especificaciones IEEE,
      así como a las desarrolladas por Embobinados Industriales Campoy, para ofrecer siempre la mejor
      calidad al menor tiempo en el precio más competitivo. Siempre hacer bien
      las cosas correctas.
    </p>
    <br />
    <strong>
      <p id="parrafo">
        Nos dedicamos a ayudar a nuestros clientes a solucionar efectivamente
        esta parte de sus retos cotidianos.
        <br />
        Les brindamos la tranquilidad que necesitan manteniendo la
        confiabilidad de sus equipos para evitar <br />
        los paros de producción no programados.
      </p>
    </strong>
  </div>
</body>

<footer>
  <br />
  <hr />
  <br />
  <br />

  <div id="cajon1">
    <div class="card" style="width: 18rem; left: 2%">
      <div class="card-body">
        <h5>Dirección</h5>
        <br />
        <p>
          Calle esopo Mz 20 Lt 04 Col Ciudad Cuauhtemoc Ecatepec de Morelos
          Mex.
        </p>
        <br />
        <h5>Teléfonos 📞</h5>
        <p>
          <br />
          55-59-35-22-71 <br />
          044-55-51-45-48-20
        </p>
      </div>
    </div>
  </div>

  <div id="cajon1">
    <div class="card" style="width: 18rem; left: 2%">
      <div class="card-body">
        <h5>Email</h5>
        <br />
        <a href="campoy.lira.1994@gmail.com">rafaelcampoybautista@embobinados.com</a>
        <br />
        <br />
        <br />
        <h5>Horario de atención</h5>
        <br />
        <p>
          Lun.-Vie. 09:00 - 19:00 <br />
          Sab. 09:00 - 13:00 <br />
          Dom. Cerrado <br />
        </p>
      </div>
    </div>
  </div>

  <div id="cajon1">
    <div class="card" style="width: 18rem; left: 2%">
      <div class="card-body">
        <div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d764.5183832795968!2d-98.98204367084041!3d19.63752336227607!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTnCsDM4JzE1LjEiTiA5OMKwNTgnNTMuNCJX!5e1!3m2!1ses-419!2smx!4v1618343213340!5m2!1ses-419!2smx"
            width="100%" height="100%" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
            <br />
            <br />
            <br />
            <br />
            <p class="card-text">
              <a href="https://api.whatsapp.com/send?phone=525551454820">Envíanos un mensaje de WhatsApp</a>
            </p>
        </div>
      </div>
    </div>
  </div>


</footer>

</html>
