<html>
<header>
<app-navbar></app-navbar>
</header>

<!--
  <br />
  <div id="contenedor">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img id="imgInit" class="d-block w-100" src="../assets/images/bobinadomotor-1.jpg" alt="First slide" />
        </div>
        <div class="carousel-item">
          <img id="imgInit" class="d-block w-100" src="../assets/images/Motor2.jpg" alt="Second slide" />
        </div>
        <div class="carousel-item">
          <img id="imgInit" class="d-block w-100"
            src="../assets/images/full-armadura_cd_bobinas_preformadas_embobinados_vaca.jpg" alt="Third slide" />
        </div>
      </div>

      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>




  <div id="menuLeft">
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="true" aria-controls="collapseThree">
              Servicios:
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div  class="card-body">
            <li style="text-align: left;" type="disc">Embobinado, venta y reparación de motores <br><br></li>
            <li style="text-align: left;" type="disc">Servicio mecánico a motores <br><br></li>
            <li style="text-align: left;" type="disc">Generadores de corriente alterna <br><br></li>
            <li style="text-align: left;" type="disc">Velocidad variable <br><br></li>
            <li style="text-align: left;" type="disc">Corriente alterna <br><br></li>
            <li style="text-align: left;" type="disc">Alta tensión <br><br></li>
            <li style="text-align: left;" type="disc">Baja tensión <br><br></li>
            <li style="text-align: left;" type="disc">Reparaciones electromecánicas <br><br></li>
            <li style="text-align: left;" type="disc">Venta de refacciones Siemens <br><br></li>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              Embobinado:
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            <li style="text-align: left;" type="disc">Preventivo <br><br></li>
            <li style="text-align: left;" type="disc">Correctivo De Máquinas Eléctricas <br><br></li>
            <li style="text-align: left;" type="disc">Transformadores <br><br></li>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="true" aria-controls="collapseTwo">
              Marcas De Trabajo:
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body"> ,
            <li style="text-align: left;" type="disc">Simens <br><br></li>
            <li style="text-align: left;" type="disc">SKF <br><br></li>
            <li style="text-align: left;" type="disc">Weg <br><br></li>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="true" aria-controls="collapseFour">
              Medios de pago:
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            <li style="text-align: left;" type="disc">Transferencia electrónica <br><br></li>
            <li style="text-align: left;" type="disc">Depósito <br><br></li>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
              aria-expanded="true" aria-controls="collapseFive">
              Clientes
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
          <div class="card-body">
          <li style="text-align: left;" type="disc">Grupo gerdau <br><br></li>
          <li style="text-align: left;" type="disc">Aceros corsa <br><br></li>
          <li style="text-align: left;" type="disc">Aceros tultitlan <br><br></li>
        </div>
        </div>
      </div>
    </div>
  </div>

-->
<body>
  <router-outlet></router-outlet>
</body>

<footer>
<app-footer></app-footer>
</footer>

</html>
