<br />

<!--



<hr />
<br />


  <div id="cajon1">
    <div class="card" style="width: 60%; height: 100%; left: 1%" >
      <div align="center">
        <img width="300" height="150" alt="Campoy Logo" src="../assets/images/logo.jpg" />
      </div>
      <div class="card-body">
        <h5 id="subutitulo">Trabajos especiales de embobinado de motores</h5>
        <br />
        <p class="card-text">
          <br/>
          En DIPCSA somos una empresa ubicada en Ecatepec, especializada en la
          reparación de motores eléctricosindustriales de alta y baja tensión.
          Nuestros más de 30 años de experiencia son el resultado de las
          soluciones que ofrecemos a la industria mediante asesoría técnica y
          venta de componentes eléctricos.
          <br/>
        </p>
        <hr />
        <p>
          <br/>
          Contamos con ingenieros certificados en embobinado y reparación de
          motores eléctricosindustriales, lo cual nos permite garantizar
          excelentes controles de calidad para realizar nuestro trabajo,
          satisfaciendo todos los requerimientos del cliente dentro del área
          de construcción e ingeniería.
          <br/>
        </p>
        <hr />
        <p>
          <br/>
          El embobinado es una reparación de un motor para cualquier tipo de
          industria y particulares. Tenemos servicios diseñados para cumplir
          con tus requerimientos. Gracias a la diversidad de servicios en
          Embobinados Campoy buscamos reducir los altos costos en todos los
          servicios que ofrecemos.
          <br/>
        </p>
      </div>
    </div>
  </div>

  <div style="
        background-image: url('../assets/images/Motor.png');
        width: 100%;
        height: 100vh;
      "></div>



-->

<div class="container">
  <div class="row">
    <div
      id="text"
      class="col-13"
      style="
        background-image: url('../assets/images/Motor.png');
        align-items: center;
        float: left;
      "
    >
      <div class="card bg-transparent">
        <div align="center">
          <img
            alt="Campoy Logo"
            src="../assets/images/logo.jpg"
          />
        </div>
        <div class="card-body">
          <h5 id="subutitulo">Trabajos especiales de embobinado de motores</h5>
          <br />
          <p
            class="card-text"
            style="
              color: rgb(0, 0, 0);
              text-shadow: rgb(255, 255, 255) 0.1em 0.1em 0.2em;
              font-weight: 500;
              margin: 2%;
            "
          >
            <br />
            En EMBOBINADOS INDUSTRIALES CAMPOY somos una empresa ubicada en
            Ecatepec, especializada en la reparación de motores
            eléctricosindustriales de alta y baja tenssión. Nuestros más de 30
            años de experiencia son el resultado de las soluciones que ofrecemos
            a la industria mediante asesoría técnica y venta de componentes
            eléctricos.
            <br />
          </p>
          <hr />
          <p
            style="
              color: rgb(0, 0, 0);
              text-shadow: rgb(255, 255, 255) 0.2em 0em 0.2em;
              font-weight: 500;
              margin: 2%;
            "
          >
            <br />
            Contamos con ingenieros certificados en embobinado y reparación de
            motores eléctricosindustriales, lo cual nos permite garantizar
            excelentes controles de calidad para realizar nuestro trabajo,
            satisfaciendo todos los requerimientos del cliente dentro del área
            de construcción e ingeniería.
            <br />
          </p>
          <hr />
          <p
            style="
              color: rgb(0, 0, 0);
              text-shadow: rgb(255, 255, 255) 0.2em 0em 0.2em;
              font-weight: 500;
              margin: 2%;
            "
          >
            <br />
            El embobinado es una reparación de un motor para cualquier tipo de
            industria y particulares. Tenemos servicios diseñados para cumplir
            con tus requerimientos. Gracias a la diversidad de servicios en
            Embobinados Industriales Campoy buscamos reducir los altos costos en todos los
            servicios que ofrecemos.
            <br />
          </p>
        </div>
      </div>
    </div>
  </div>

<br>


</div>
